Tag: init.d-script-does-not-implement-status-option
Severity: info
Check: init.d
See-Also: https://wiki.debian.org/LSBInitScripts
Explanation: The specified <code>/etc/init.d</code> script does not implement the
 <code>status</code> option. This is actually required by LSB, often
 requested by users and will be required by the Debian Policy in
 the future.
